
		<nav class="navigation">
			<ul class="navigation__list">
				<li class="navigation__item">
					<a class="navigation__link active" href="#home">
						
						<ion-icon class="navigation__icon" name="home-outline"></ion-icon>
						<span class="navigation__text">HOME</span>
					</a>
				</li>
				<li class="navigation__item">
					<a class="navigation__link" href="#search">
					
						<ion-icon class="navigation__icon" name="search"></ion-icon>
						<span class="navigation__text">SEARCH</span>
					</a>
				</li>
				<li class="navigation__item">
					<a class="navigation__link" href="#categories">
						<ion-icon class="navigation__icon" name="search"></ion-icon>
						<span class="navigation__text">CATEGORIES</span>
					</a>
				</li>
				<li class="navigation__item">
					<a class="navigation__link" href="#likes">
						<ion-icon class="navigation__icon" name="search"></ion-icon>
						<span class="navigation__text">LIKES</span>
					</a>
				</li>
				
			</ul>
		</nav>
