<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="salirConArgumentos()" fill="clear">
        <ion-icon color="promoshop" name="arrow-back-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h3 class="ion-text-capitalize">{{producto.nombre}}</h3>
  <ion-slides mode="ios" pager="ios" *ngIf="didInit">
    <ion-slide *ngFor="let imagen of producto.imagenes">
      <img src="{{imagen.imagen}}" />
    </ion-slide>
  </ion-slides>
  <h6><strong>$ </strong> {{producto.precio}}</h6>
  <p>{{producto.descripcion}}</p>
  <ion-row>
    <ion-col size="6">
      <ion-item lines="none" class="catidad-item">
        <ion-label>Cantidad</ion-label>
        <ion-select value="1" ok-text="Aceptar" cancel-text="Cancelar"  (ionChange)="cambiarCantidad( $event )">
            <ion-select-option *ngFor="let number of numbers" value="{{number}}">{{number}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <div class="buttons-container">
    <ion-button color="promoshop" expand="block" (click)="addToCart(producto)">Agregar al Carrito <ion-icon
        name="cart-outline" slot="end"></ion-icon>
    </ion-button>
    <ion-button color="promogreen" expand="block">Comprar ahora</ion-button>
  </div>

</ion-content>