<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>sdas</ion-back-button>
    </ion-buttons>
    <ion-title>Promoshop</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="{{href}}" 
      text="" 
      color="primary"
      mode="ios"
      ></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>